<div class="container-2xl h-96">

    <div class="flex flex-row">
        <div class="basis-32">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-full w-16" alt="Avatar" />
        </div>
        <div class="basis-full flex-col">
            <p class="text-lg font-bold font-mono text-yellow-400">Nicolás Ayala <span class="text-xs text-zinc-400 font-bold">2 months ago</span></p>
            <p class="text-md mt-2 text-gray-800">
                Hey there 👋. Nice to meet you, I'm Nicolás, a <span class="text-black">paraguayan</span> citizen, working as a 
                <span class="text-orange-600 font-bold">Frontend Developer</span> in a local company here in <span class="font-bold">Asunción, Paraguay.</span> 📍
            </p>
        </div>
    </div>

    <div class="flex flex-row my-10">
        <div class="basis-32">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-full w-16" alt="Avatar" />
        </div>
        <div class="basis-full flex-col">
            <p class="text-lg font-bold font-mono text-yellow-400">Nicolás Ayala <span class="text-xs text-zinc-400 font-bold">2 months ago</span></p>
            <p class="text-md mt-2 text-gray-800">
                I'v been working in the role of frontend since <span class="font-bold">2 years ago</span>. We currently work remotly 🌎 with the team
                (backend positions, managers..). 
                We communicate with tools like <span class="font-bold">Slack, Google Meet, Microsoft Teams</span> among other tools.
            </p>
        </div>
    </div>

    <div class="flex flex-row my-10">
        <div class="basis-32">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-full w-16" alt="Avatar" />
        </div>
        <div class="basis-full flex-col">
            <p class="text-lg font-bold font-mono text-yellow-400">Nicolás Ayala <span class="text-xs text-zinc-400 font-bold">2 months ago</span></p>
            <p class="text-md mt-2 text-gray-800">
                In fact, I have been working with this modality since I started my career as a developer. 
                So, Im familiarized with <span class="font-bold">Agile Methodologies</span> (e.g Scrum). 
                And over the years of work, I have already participated in entire cycles to deliver a good quality product, always
                collaborating as a team.
            </p>
        </div>
    </div>

    <div class="flex flex-row p-4">
        <input placeholder="Enter a message..." type="text" name="message" id="message"
        class="bg-gray-300 h-8 rounded-full w-full p-4">
    </div>