<div class="h-16 flex justify-between bg-slate-300 drop-shadow-xl">
    <div class="basis-1/2">
        <div class="flex justify-start items-end h-full p-2">
            <span class="text-lg font-bold text-gray-400 ml-3 tracking-wide"> <span class="text-2xl">#</span> {{title}}</span>
        </div>
    </div>
    <div class="basis-1/2">
        <div class="flex flex-row justify-end items-end h-full p-2">
            <div>
                <span class="cursor-pointer mx-1 text-4xl material-symbols-outlined">
                    brightness_2
                </span>
                <span class="cursor-pointer mx-1 text-4xl material-symbols-outlined">
                    notifications
                </span>
                <span class="cursor-pointer mx-1 text-4xl material-symbols-outlined">
                    account_circle
                </span>
            </div>
        </div>
    </div>
</div>