<div class="container mx-auto p-12">

    <h2 class="text-white text-3xl font-extrabold mb-9"># General</h2>
    <div class="flex flex-row">
        <div class="basis-32">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-full w-16" alt="Avatar" />
        </div>
        <div class="basis-full flex-col">
            <p class="text-lg font-bold font-mono text-yellow-400"> Carl bot <span
                    class="text-xs text-zinc-400 font-bold">1 month ago</span></p>
            <p class="text-md mt-2 text-white leading-loose">
                <span class="text-blue-500 font-bold">@Nicolas</span> so I was looking at other channels that you have
                experience with frontend tools. But what about your english skills?
            </p>
        </div>
    </div>

    <div class="flex flex-row my-10">
        <div class="basis-32">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-full w-16" alt="Avatar" />
        </div>
        <div class="basis-full flex-col">
            <p class="text-lg font-bold font-mono text-yellow-400">Nicolás Ayala <span
                    class="text-xs text-zinc-400 font-bold">1 month ago</span></p>
            <p class="text-md mt-2 text-white leading-loose">
                Well, I have a B2 level according to the CEFR. I'm currently having classes with a teacher every week!
            </p>
        </div>
    </div>

    <div class="flex flex-row my-10">
        <div class="basis-32">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-full w-16" alt="Avatar" />
        </div>
        <div class="basis-full flex-col">
            <p class="text-lg font-bold font-mono text-yellow-400">Carl bot <span
                    class="text-xs text-zinc-400 font-bold">1 month ago</span></p>
            <p class="text-md mt-2 text-white leading-loose">
                That's nice! I was thinking to reach you in spanish but it's good to know that I can communicate with
                you in english
            </p>
        </div>
    </div>

    <div class="flex flex-row p-4">
        <input placeholder="Enter a message..." type="text" name="message" id="message"
            class="bg-white h-8 rounded-full w-full p-4">
    </div>