<div class="p-12 text-center">

    <div class="mockup-window border bg-gradient-to-r from-[#8360c3] to-[#2ebf91]" style="height: 80vh !important;">
        <div class="avatar online">
            <div class="w-36 rounded-full animate__animated animate__slideInLeft">
                <img src="assets/images/profile_picture.jpeg" />
            </div>
        </div>
        <div class="my-5">
            <h3 class="text-white text-3xl font-mono animate__animated animate__fadeInDown">Hi visitor👋👋
            </h3>
        </div>
        <div class="text-white w-50 leading-loose p-8 animate__animated animate__fadeInUp">
            <p class="tracking-wide text-lg">
                My name is Nicolás. I'm an enthusiast of the software development world, working full-time as a
                <span class="bg-gradient-to-r from-purple-400 to-pink-500">Frontend developer</span> here in my country,
                Paraguay. <br>
                I tend to make use of modern web technologies to build web-apps that looks great, feels fantastic, and
                functions correctly. <br>
            </p>
        </div>

        <div class="hidden md:block">
            <div class="divider"></div>
            <div class="my-5">
                <h3 class="text-white text-xl font-mono">Tools that I'm familiarized with</h3> <br>
            </div>
            <div class="flex h-auto ">
                <div class="flex-grow card rounded-box place-items-center">
                    <div class="mt-2 flex flex-col md:flex-row space-x-3 justify-center">
                        <div class="avatar">
                            <div class="w-16 rounded-xl">
                                <img
                                    src="https://www.seekpng.com/png/full/141-1415523_responsive-web-design-with-html5-css3-html-and.png" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-16 rounded-xl">
                                <img src="https://nexusjs.org/img/tsjs.png" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-16 rounded-xl">
                                <img
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-16 rounded-xl">
                                <img src="https://cdn.worldvectorlogo.com/logos/react-2.svg" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-16 rounded-xl">
                                <img src="https://cdn-icons-png.flaticon.com/512/919/919825.png" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-16 rounded-xl">
                                <img
                                    src="https://assets.website-files.com/61ca3f775a79ec5f87fcf937/6202fcdee5ee8636a145a41b_1234.png" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-16 rounded-xl">
                                <img
                                    src="https://play-lh.googleusercontent.com/IzEj9Owgf7-Y6HcSkdbUFbgUXuHcdjzA2PHE1D2ylCHNaxG7t0hGxB3ck_K2QJC9tQ=w600-h300-pc0xffffff-pd" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-16 rounded-xl">
                                <img src="http://assets.stickpng.com/images/5847f981cef1014c0b5e48be.png" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-16 rounded-xl">
                                <img
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Slack_icon_2019.svg/2048px-Slack_icon_2019.svg.png" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-16 rounded-xl">
                                <img src="https://1000marcas.net/wp-content/uploads/2022/01/Google-Meet-Logo.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>