<div class="container-2xl h-96">

    <div class="flex flex-row">
        <div class="basis-32">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-full w-16" alt="Avatar" />
        </div>
        <div class="basis-full flex-col">
            <p class="text-lg font-bold font-mono text-yellow-400">Nicolás Ayala <span
                    class="text-xs text-zinc-400 font-bold">2 months ago</span></p>
            <p class="text-md mt-2 text-gray-800">
                Naturally, my skills as a frontend developer includes <span class="text-yellow-500 font-bold">JavaScript (ES6)</span> and
                <span class="text-blue-700 font-bold">TypeScript</span>.
                I have 2 years of hands-off in the <span class="text-red-700 font-bold">Angular</span> framework and the ecosystem
                around it. I also have personal projects done in React/NextJS but I need to put more work on it.
            </p>
        </div>
    </div>

    <div class="flex flex-row my-10">
        <div class="basis-32">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-full w-16" alt="Avatar" />
        </div>
        <div class="basis-full flex-col">
            <p class="text-lg font-bold font-mono text-yellow-400">Nicolás Ayala <span
                    class="text-xs text-zinc-400 font-bold">2 months ago</span></p>
            <p class="text-md mt-2 text-gray-800">
                Also, of course, I have knowledge in <span class="font-bold">HTML5 and CSS.</span> I have no problem to work with CSS libraries such as
                <span class="font-bold">Material UI, Boostrap or Tailwind</span>.
            </p>
        </div>
    </div>

    <div class="flex flex-row my-10">
        <div class="basis-32">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-full w-16" alt="Avatar" />
        </div>
        <div class="basis-full flex-col">
            <p class="text-lg font-bold font-mono text-yellow-400">Nicolás Ayala <span
                    class="text-xs text-zinc-400 font-bold">2 months ago</span></p>
            <p class="text-md mt-2 text-gray-800">
                And working with a collaborative team is not posible if you don't know <span class="font-bold">Git</span>,
                so I use this tool every day to get my work done.
                I'm familiarized with REST API's to connect the backend with the UI. I also use tools like Postman to test API's
            </p>
        </div>
    </div>

    <div class="flex flex-row p-4">
        <input placeholder="Enter a message..." type="text" name="message" id="message"
            class="bg-gray-300 h-8 rounded-full w-full p-4">
    </div>